@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
}
body::before {
  background-image: url(assets/btc.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
body::after {
  background-color: rgba(100, 100, 100, 0.8);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.nav-links {
  list-style: none;
}

.text-container h1 {
  text-align: center;
  display: flex;
  color: white;
  border: 2px solid red;
}

button {
  border-radius: 50px;
  background-color: rgb(36, 151, 167);
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: white;
}

button:hover {
  background-color: rgba(36, 151, 167, 0.6);
  transition: all 0.3s ease 0s;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#search-field-container {
  border: 2px solid clear;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

main input {
  display: flex;
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}

.container {
  border: 2px solid;
  text-align: center;
}

.news {
  color: white;
}
