@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(
      rgba(95, 94, 94, 0.185),
      rgba(0, 0, 0, 0.918)
    ),
    url(./assets/btc.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative;
}
.row {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

h1 {
  font-family: "Manrope", sans-serif;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: bolder;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: goldenrod;
  padding: 0.3em 7%;
  text-transform: uppercase;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.671),
    0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.384),
    0 32px 32px rgba(0, 0, 0, 0.11), 0 64px 64px rgba(63, 63, 63, 0.356);
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.nav-links {
  list-style: none;
  margin-top: 1rem;
}

.text-container h1 {
  text-align: center;
  color: rgb(36, 151, 167);
}

button {
  border-radius: 50px;
  background-color: rgb(36, 151, 167);
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(36, 151, 167, 0.6);
  transition: all 0.3s ease 0s;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: auto;
}

#search-field-container {
  border: 2px solid clear;
  width: 15rem;
  border-radius: 15px;
  overflow: hidden;
}
form {
  display: inline-flex;
}

main input {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.btn-primary {
  width: 100%;
  padding: 0;
  background-color: rgb(36, 151, 167);
  border: none;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgba(36, 151, 167, 0.6);
  transition: all 0.3s ease 0s;
}

.card {
  background: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}
.cardwrapper{
  display: flex;flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;

}

/* @media screen and (max-width: 446px) {
  header {
    display: flex;
    flex-wrap: nowrap;
  }
} */
